---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='CRU - Data Capture'>
  <div class='space-y-12'>
    <h1>Electronic Data Capture</h1>
    <p class='text-lg leading-8'>
      The CRU provides access and capacity building tools in the areas of data capture,
      databases, and data management. We are the University of Calgary’s provider of <b
        >REDCap access</b
      > and value-add services, including database builds, setup and configuration, and
      implementation of advanced features.
    </p>
    <div class='space-y-6'>
      <h2>We support two project types:</h2>
      <ol>
        <li>
          <b>Self-service projects:</b> Research teams experienced in REDCap can complete
          the build and setup themselves. The CRU provides users with access to REDCap and
          maintains the REDCap platform, such as updates/patches, data backups, and system
          administration.
        </li>
        <li>
          <b>CRU supported projects:</b> We have specialized expertise in REDCap database
          development and are happy to complete an end-to-end project build for research
          studies. This is ideal for research teams who are new to REDCap, studies that
          need advanced or complex features, or who want a convenient full service option.
        </li>
      </ol>
      <p>
        Large research groups or institutes can enter into a partnership model with the
        CRU for more cost-effective and holistic support services.
      </p>
    </div>
    <div class='space-y-6'>
      <h2>Platform Fees</h2>
      <p>
        All REDCap projects pay platform maintenance fees to help us cost recover the
        overhead to maintain our REDCap system. CRU development and setup support fees for
        supported projects are determined on a project-by-project basis.
      </p>
      <div>
        <h4>CRU Development and Setup Support Fees</h4>
        <p>
          Fees for CRU support are determined on a project-by-project basis. CRU support
          includes services such as database setup, development, and custom add-ons.
        </p>
        <i class='text-sm'
          >*The fee for archived projects is $200/year. No support hours are provided.</i
        >
      </div>
      <div>
        <h4>Platform Maintenance Fees</h4>
        <p>
          The CRU offers a variety of service tiers to meet the unique needs of different
          projects.
        </p>
        <p>
          The <b>Compliant Clinical Trial Tier (CCTT)</b> is designed for the specific
          requirements of Health Canada and FDA regulated clinical trials.
        </p>
        <p>
          <b>Regular REDCap project</b> fees apply to all other project types and include
          consultation hours for advanced support. Add-ons are available for enhanced
          support services:
        </p>
        <ul>
          <li>
            <b>Clinical Trial Add-On:</b> Enhanced support for all other clinical trials,
            but at less rigour and lower cost than the CCTT.
          </li>
          <li>
            <b>Registry Add-On:</b> Enhanced security and support services ensure high
            data quality standards that are essential for longitudinal data.
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
