---
import Layout from '../../layouts/Layout.astro'
import CheckIcon from '../../components/ui/icons/CheckIcon.astro'
import XIcon from '../../components/ui/icons/XIcon.astro'
import Button from '../../components/ui/Button.astro'
---

<Layout title='CRU - Data Capture'>
  <h1 class='text-center'>Predictable pricing to meet your needs</h1>
  <div class='overflow-x-auto mt-32 space-y-32'>
    <table class='mx-auto border-collapse border-spacing-6'>
      <thead>
        <tr>
          <th></th>
          <th class='space-y-2 p-2'>
            <div>
              <h4>Basic</h4>
              <span class='text-gray-500'>
                $350<small>/year</small>
              </span>
            </div>
            <Button
              block
              href='https://redcap.cru.ucalgary.ca/surveys/?s=7L49EPE94D'
              target='_blank'
              rel='noopener noreferrer'
            >
              Get started
            </Button>
          </th>
          <th class='space-y-2 p-2'>
            <div>
              <h4>Plus</h4>
              <span class='text-gray-500'>
                $650<small>/year</small>
              </span>
            </div>
            <Button
              block
              primary
              href='https://redcap.cru.ucalgary.ca/surveys/?s=7L49EPE94D'
              target='_blank'
              rel='noopener noreferrer'
            >
              Get started
            </Button>
          </th>
          <th class='space-y-2 p-2'>
            <div>
              <h4>Premium</h4>
              <span class='text-gray-500'>
                $1,000<small>/year</small>
              </span>
            </div>
            <Button
              block
              primary
              href='https://redcap.cru.ucalgary.ca/surveys/?s=7L49EPE94D'
              target='_blank'
              rel='noopener noreferrer'
            >
              Get started
            </Button>
          </th>
          <th class='space-y-2 p-2'>
            <div>
              <h4>CCTT</h4>
              <span class='text-gray-500'>
                $2,200<small>/year</small>
              </span>
            </div>
            <Button
              block
              className='!bg-black !text-white'
              href='https://redcap.cru.ucalgary.ca/surveys/?s=7L49EPE94D'
              target='_blank'
              rel='noopener noreferrer'
            >
              Get started
            </Button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6' id='standardSupport'> Standard support</td>
          <td class='p-6 text-center w-56 border-gray-900/10'>
            <div class='flex justify-center'>
              <CheckIcon />
            </div>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            <div class='flex justify-center'>
              <CheckIcon />
            </div>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='backups'> Daily backups</td>
          <td class='p-6 text-center w-56 border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='maintenance'> System maintenance</td>
          <td class='p-6 text-center w-56 border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='updates'> Regular platform updates</td>
          <td class='p-6 text-center w-56 border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='manager'> Dedicated CRU project manager</td>
          <td class='p-6 text-center w-56 border-gray-900/10'>
            <div class='flex justify-center'>
              <XIcon />
            </div>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='audit'>
            Guaranteed response times for audit support</td
          >
          <td class='p-6 text-center w-56 border-gray-900/10'
            ><div class='flex justify-center'>
              <XIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <XIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <XIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='transferGuidance'>
            Data transfer guidance</td
          >
          <td class='p-6 text-center w-56 border-gray-900/10'
            ><div class='flex justify-center'>
              <XIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <XIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <XIcon />
            </div></td
          >
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='ccaddon'> Clinical Trial add-on</td>
          <td class='p-6 text-center w-56 border-gray-900/10'>
            +$500 <small class='text-gray-500'>/year</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            +$500 <small class='text-gray-500'>/year</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            +$500 <small class='text-gray-500'>/year</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='registryaddon'> Registry add-on</td>
          <td class='p-6 text-center w-56 border-gray-900/10'>
            +$500 <small class='text-gray-500'>/year</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            +$500 <small class='text-gray-500'>/year</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            +$500 <small class='text-gray-500'>/year</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'
            ><div class='flex justify-center'>
              <CheckIcon />
            </div></td
          >
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='advancedSupport' class='w-72'>
            Advanced support</td
          >
          <td class='p-6 text-center w-56 border-gray-900/10'>
            Up to 2
            <small class='text-gray-500'> hours/year</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            Up to 5
            <small class='text-gray-500'> hours/year</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            Up to 10
            <small class='text-gray-500'> hours/year</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            Up to 10
            <small class='text-gray-500'> hours/year</small>
          </td>
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='additionalSupport'> Additional support</td>
          <td class='p-6 text-center w-56 border-gray-900/10'>
            $150 <small class='text-gray-500'>/hour</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            $150 <small class='text-gray-500'>/hour</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            $150 <small class='text-gray-500'>/hour</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            $150 <small class='text-gray-500'>/hour</small>
          </td>
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72' id='response'> Response times</td>
          <td class='p-6 text-center w-56 border-gray-900/10'>
            Basic
            <br />
            <small class='text-gray-500'>first come, first serve</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            Intermediate
            <br />
            <small class='text-gray-500'>within 2-3 business days</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            Priority
            <br />
            <small class='text-gray-500'>within 1 business day</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            Priority
            <br />
            <small class='text-gray-500'>within 1 business day</small>
          </td>
        </tr>
        <tr class='hover:bg-brand-primary-50'>
          <td class='bg-gray-50 p-6 w-72 text-brand-primary-500' id='discount'>
            Loyalty discount</td
          >
          <td class='p-6 text-center w-56 border-gray-900/10'>
            <b class='text-brand-primary-500'>15%</b>
            <br />
            <small class='text-gray-500'>3+ REDCap projects</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            <b class='text-brand-primary-500'>15%</b>
            <br />
            <small class='text-gray-500'>3+ REDCap projects</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            <b class='text-brand-primary-500'>15%</b>
            <br />
            <small class='text-gray-500'>3+ REDCap projects</small>
          </td>
          <td class='p-6 text-center w-56 border-l border-gray-900/10'>
            <b class='text-brand-primary-500'>15%</b>
            <br />
            <small class='text-gray-500'>3+ REDCap projects</small>
          </td>
        </tr>
      </tbody>
    </table>
    <div class='mx-auto space-y-16 px-6'>
      <h2 class='text-center'>Additional Add-ons</h2>
      <div class='grid grid-cols-3 gap-6 justify-center'>
        <div
          class='rounded-3xl border border-gray-100 bg-gray-50 p-8 shadow-2xl shadow-gray-600/10'
        >
          <h4>PDF Reports</h4>
          <p class='text-sm'>
            Custom tailored reports generated on-the-fly for an overview of your project
            and participants
          </p>
        </div>
        <div
          class='rounded-3xl border border-gray-100 bg-gray-50 p-8 shadow-2xl shadow-gray-600/10'
        >
          <h4>DataViz</h4>
          <p class='text-sm'>
            Easily create custom visualizations of your REDCap data in real-time
          </p>
        </div>
        <div
          class='rounded-3xl border border-gray-100 bg-gray-50 p-8 shadow-2xl shadow-gray-600/10'
        >
          <h4>DataLytics</h4>
          <p class='text-sm'>
            A real-time monitoring tool that provides a comprehensive view of your
            research study
          </p>
        </div>
      </div>
    </div>
    <div class='divide-y divide-gray-900/10'>
      <h2>Frequently asked questions</h2>
      <dl class='mt-10 space-y-8 divide-y divide-gray-900/10'>
        <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
          <dt class='font-semibold leading-7 lg:col-span-5'>
            If my project is a regulated clinical trial, am I required to subscribe to the
            CCTT?
          </dt>
          <dd class='mt-4 lg:col-span-7 lg:mt-0'>
            <p class='leading-7 text-gray-600'>
              Yes, regulated clinical trials are required to subscribe to the CCTT. This
              ensures all regulatory requirements are met and we can best support in case
              of an audit.
            </p>
          </dd>
        </div>
        <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
          <dt class='font-semibold leading-7 lg:col-span-5'>
            If my project is a clinical trial or registry, am I required to subscribe to
            the add-ons?
          </dt>
          <dd class='mt-4 lg:col-span-7 lg:mt-0'>
            <p class='leading-7 text-gray-600'>
              Yes, as these add-ons provide additional privacy and security measures and
              supporting documentation tailored to these project types.
            </p>
          </dd>
        </div>
        <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
          <dt class='font-semibold leading-7 lg:col-span-5'>
            If my project is not a clinical trial or registry, can I subscribe to the CCTT
            or add-ons?
          </dt>
          <dd class='mt-4 lg:col-span-7 lg:mt-0'>
            <p class='leading-7 text-gray-600'>
              Yes, absolutely! Any project looking for additional privacy and security
              measures are welcome to subscribe to the CCTT or add-ons. Please indicate on
              your intake survey submission or let us know at{' '}
              <a href='mailto:cru.finance@ucalgary.ca'>cru.finance@ucalgary.ca</a>
            </p>
          </dd>
        </div>
        <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
          <dt class='font-semibold leading-7 lg:col-span-5'>
            If I don't need REDCap for a full year, can I get a discount?
          </dt>
          <dd class='mt-4 lg:col-span-7 lg:mt-0'>
            <p class='leading-7 text-gray-600'>
              In some cases, annual maintenance fees can be pro-rated for less than a
              year. Please reach out to us at{' '}
              <a href='mailto:cru.finance@ucalgary.ca'>cru.finance@ucalgary.ca</a> to discuss
              further.
            </p>
          </dd>
        </div>
        <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
          <dt class='font-semibold leading-7 lg:col-span-5'>
            My project has closed but I don't want to lose my data, what are my options?
          </dt>
          <dd class='mt-4 lg:col-span-7 lg:mt-0'>
            <p class='leading-7 text-gray-600'>
              The fee for archived projects is $200/year. No support hours are provided.
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</Layout>
