---
import Layout from '../../layouts/Layout.astro'
import CheckIcon from '../../components/ui/icons/CheckIcon.astro'
import XIcon from '../../components/ui/icons/XIcon.astro'
import Button from '../../components/ui/Button.astro'
---

<Layout title="Data Capture Pricing">
  <h1 class="text-center">Predictable pricing to meet your needs</h1>
  <div class="mt-32 space-y-32">
    <div class="overflow-x-auto">
      <table class="mx-auto border-collapse border-spacing-6">
        <thead>
          <tr>
            <th></th>
            <th class="space-y-2 p-2">
              <div>
                <h4>Basic</h4>
                <span class="text-gray-500">
                  $375<small>/year</small>
                </span>
              </div>
              <Button block href="/intake"> Get started </Button>
            </th>
            <th class="space-y-2 p-2">
              <div>
                <h4>Plus</h4>
                <span class="text-gray-500">
                  $700<small>/year</small>
                </span>
              </div>
              <Button block primary href="/intake"> Get started </Button>
            </th>
            <th class="space-y-2 p-2">
              <div>
                <h4>Premium</h4>
                <span class="text-gray-500">
                  $1,100<small>/year</small>
                </span>
              </div>
              <Button block primary href="/intake"> Get started </Button>
            </th>
            <th class="space-y-2 p-2">
              <div>
                <h4>CCTT</h4>
                <span class="text-gray-500">
                  $2,200<small>/year</small>
                </span>
              </div>
              <Button block className="bg-black! text-white!" href="/intake">
                Get started
              </Button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover:bg-brand-primary-50">
            <td class="bg-gray-50 p-6" id="standardSupport"> Standard support</td>
            <td class="w-56 border-gray-900/10 p-6 text-center">
              <div class="flex justify-center">
                <CheckIcon />
              </div>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              <div class="flex justify-center">
                <CheckIcon />
              </div>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="backups"> Daily backups</td>
            <td class="w-56 border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="maintenance"> System maintenance</td>
            <td class="w-56 border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="updates"> Regular platform updates</td>
            <td class="w-56 border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="manager">
              Project Coordination Support Contact</td
            >
            <td class="w-56 border-gray-900/10 p-6 text-center">
              <div class="flex justify-center">
                <XIcon />
              </div>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="audit">
              Guaranteed response times for audit support</td
            >
            <td class="w-56 border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <XIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <XIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <XIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="transferGuidance">
              Data transfer guidance</td
            >
            <td class="w-56 border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <XIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <XIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <XIcon />
              </div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="managementPlan"> Data management plan</td>
            <td class="w-56 border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">$150</div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">$150</div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">$150</div></td
            >
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="registryaddon">Regulatory Bundle</td>
            <td class="w-56 border-gray-900/10 p-6 text-center">
              $500 <small class="text-gray-500">/year</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              $500 <small class="text-gray-500">/year</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              $500 <small class="text-gray-500">/year</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center"
              ><div class="flex justify-center">
                <CheckIcon />
              </div></td
            >
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="advancedSupport" class="w-72">
              Advanced support</td
            >
            <td class="w-56 border-gray-900/10 p-6 text-center">
              Up to 2
              <small class="text-gray-500"> hours/year</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              Up to 5
              <small class="text-gray-500"> hours/year</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              Up to 10
              <small class="text-gray-500"> hours/year</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              Up to 10
              <small class="text-gray-500"> hours/year</small>
            </td>
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="additionalSupport">
              Additional support</td
            >
            <td class="w-56 border-gray-900/10 p-6 text-center">
              $150 <small class="text-gray-500">/hour</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              $150 <small class="text-gray-500">/hour</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              $150 <small class="text-gray-500">/hour</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              $150 <small class="text-gray-500">/hour</small>
            </td>
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="w-72 bg-gray-50 p-6" id="response"> Response times</td>
            <td class="w-56 border-gray-900/10 p-6 text-center">
              Basic
              <br />
              <small class="text-gray-500">first come, first serve</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              Intermediate
              <br />
              <small class="text-gray-500">2-3 business days</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              Priority
              <br />
              <small class="text-gray-500">1 business day</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              Priority
              <br />
              <small class="text-gray-500">1 business day</small>
            </td>
          </tr>
          <tr class="hover:bg-brand-primary-50">
            <td class="text-brand-primary-500 w-72 bg-gray-50 p-6" id="discount">
              Loyalty discount</td
            >
            <td class="w-56 border-gray-900/10 p-6 text-center">
              <b class="text-brand-primary-500">15%</b>
              <br />
              <small class="text-gray-500">3+ REDCap projects</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              <b class="text-brand-primary-500">15%</b>
              <br />
              <small class="text-gray-500">3+ REDCap projects</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              <b class="text-brand-primary-500">15%</b>
              <br />
              <small class="text-gray-500">3+ REDCap projects</small>
            </td>
            <td class="w-56 border-l border-gray-900/10 p-6 text-center">
              <b class="text-brand-primary-500">15%</b>
              <br />
              <small class="text-gray-500">3+ REDCap projects</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mx-auto space-y-16 px-6">
      <h2 class="text-center">Additional Add-ons</h2>
      <div class="grid grid-cols-1 justify-center gap-6 lg:grid-cols-3">
        <div
          class="rounded-2xl border border-gray-100 bg-gray-50 p-8 shadow-2xl shadow-gray-600/10"
        >
          <h4>PDF Reports</h4>
          <p class="text-sm">
            Custom tailored reports generated on-the-fly for an overview of your project
            and participants
          </p>
        </div>
        <div
          class="rounded-2xl border border-gray-100 bg-gray-50 p-8 shadow-2xl shadow-gray-600/10"
        >
          <h4>DataViz</h4>
          <p class="text-sm">
            Easily create custom visualizations of your REDCap data in real-time
          </p>
        </div>
        <div
          class="rounded-2xl border border-gray-100 bg-gray-50 p-8 shadow-2xl shadow-gray-600/10"
        >
          <h4>DataLytics</h4>
          <p class="text-sm">
            A real-time monitoring tool that provides a comprehensive view of your
            research study
          </p>
        </div>
      </div>
    </div>
    <div class="divide-y divide-gray-900/10">
      <h2 class="py-8">Frequently asked questions</h2>
      <dl class="mt-10 space-y-8 divide-y divide-gray-900/10">
        <div class="py-8 lg:grid lg:grid-cols-12 lg:gap-8">
          <dt class="leading-7 font-semibold lg:col-span-5">What is the CCTT plan?</dt>
          <dd class="mt-4 lg:col-span-7 lg:mt-0">
            <p class="leading-7 text-gray-600">
              The <b>Compliant Clinical Trial Tier</b> is designed to meet the specific requirements
              of Health Canada or FDA regulated clinical trials.
            </p>
          </dd>
        </div>
        <div class="py-8 lg:grid lg:grid-cols-12 lg:gap-8">
          <dt class="leading-7 font-semibold lg:col-span-5">
            If my project is a regulated clinical trial, am I required to subscribe to the
            CCTT?
          </dt>
          <dd class="mt-4 lg:col-span-7 lg:mt-0">
            <p class="leading-7 text-gray-600">
              Yes, regulated clinical trials are required to subscribe to the CCTT. This
              ensures all regulatory requirements are met and we can best support in case
              of an audit.
            </p>
          </dd>
        </div>
        <div class="py-8 lg:grid lg:grid-cols-12 lg:gap-8">
          <dt class="leading-7 font-semibold lg:col-span-5">
            What is included in the Regulatory Bundle?
          </dt>
          <dd class="mt-4 lg:col-span-7 lg:mt-0">
            <ul class="list-outside leading-7 text-gray-600">
              <li>
                Reports describing the validation of REDCap and platform security measures
              </li>
              <li>
                Best practice guidance documents to empower the research team, including
                for project-level validation, project security, and maintaining data
                integrity
              </li>
              <li>
                Training support for REDCap, including a training course and user manual
              </li>
            </ul>
          </dd>
        </div>
        <div class="py-8 lg:grid lg:grid-cols-12 lg:gap-8">
          <dt class="leading-7 font-semibold lg:col-span-5">
            What is included with Advanced Support?
          </dt>
          <dd class="mt-4 lg:col-span-7 lg:mt-0">
            <ul class="list-outside leading-7 text-gray-600">
              <li>Consultation on how to implement a specific feature or module</li>
              <li>
                Consultation on overall project setup and design (e.g., instruments, arms)
              </li>
              <li>Writing custom branching logic for a specific project</li>
              <li>Exploring REDCap’s capabilities to meet a specific workflow need</li>
              <li>Configuring and setting up an eConsent module</li>
              <li>Letters of support for grant applications</li>
              <li>And much more! Contact us for more information.</li>
            </ul>
          </dd>
        </div>
        <div class="py-8 lg:grid lg:grid-cols-12 lg:gap-8">
          <dt class="leading-7 font-semibold lg:col-span-5">
            If I don't need REDCap for a full year, can I get a discount?
          </dt>
          <dd class="mt-4 lg:col-span-7 lg:mt-0">
            <p class="leading-7 text-gray-600">
              In some cases, annual maintenance fees can be pro-rated for less than a
              year. Please reach out to us at{' '}
              <a href="mailto:cru.finance@ucalgary.ca">cru.finance@ucalgary.ca</a> to discuss
              further.
            </p>
          </dd>
        </div>
        <div class="py-8 lg:grid lg:grid-cols-12 lg:gap-8">
          <dt class="leading-7 font-semibold lg:col-span-5">
            My project has closed but I don't want to lose my data, what are my options?
          </dt>
          <dd class="mt-4 lg:col-span-7 lg:mt-0">
            <p class="leading-7 text-gray-600">
              The fee for archived projects is $200/year. No support hours are provided.
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</Layout>
