---

---

<section class="mx-auto max-w-7xl divide-y divide-gray-900/10">
  <h2 class="py-8">Frequently asked questions</h2>
  <dl class="mt-10 space-y-8 divide-y divide-gray-900/10">
    <div class="py-8 lg:grid lg:grid-cols-12 lg:gap-8">
      <dt class="text-base leading-7 font-semibold lg:col-span-5">What is REDCap?</dt>
      <dd class="mt-4 lg:col-span-7 lg:mt-0">
        <p class="text-base leading-7 text-gray-600">
          REDCap (Research Electronic Data Capture) is a web-based application developed
          by Vanderbilt University to capture data for clinical research. REDCap is widely
          used in academic research institutions with more than 6,400 institutional
          collaborators in over 150 countries, and serves more than 2.5 million end-users.
        </p>
      </dd>
    </div>
    <div class="py-8 lg:grid lg:grid-cols-12 lg:gap-8">
      <dt class="text-base leading-7 font-semibold lg:col-span-5">
        Why should I use the CHI's REDCap?
      </dt>
      <dd class="mt-4 lg:col-span-7 lg:mt-0">
        <p class="text-base leading-7 text-gray-600">
          CHI’s REDCap is specifically customized to support online data capture for
          clinical research studies, including Health Information ACT (HIA), Health Canada
          (HC), and Good Clinical Practice (GCP) compliant environments. Our system is
          approved to collect and store Level 4 data.
        </p>
      </dd>
    </div>
    <div class="py-8 lg:grid lg:grid-cols-12 lg:gap-8">
      <dt class="text-base leading-7 font-semibold lg:col-span-5">
        What else makes CHI's REDCap different?
      </dt>
      <dd class="mt-4 lg:col-span-7 lg:mt-0">
        <p class="text-base leading-7 text-gray-600">
          With an in-house software development and data analytics team, the CHI is able
          to provide custom add-ons to your REDCap project. These add-ons can include
          integrations with external services, custom interfaces, personalized PDF
          reports, and more!
        </p>
      </dd>
    </div>
  </dl>
</section>
