---
import { Picture } from 'astro:assets'
import heroImage from '../../assets/hero.svg'
import ExternalLink from '../ui/ExternalLink.astro'
import Button from '../ui/Button.astro'
import InternalLink from '../ui/InternalLink.astro'

interface Props {}

const {} = Astro.props
---

<div class='relative isolate overflow-hidden'>
  <div class='absolute bg-gradient-to-b from-brand-primary-100/20'></div>
  <Picture
    src={heroImage}
    alt='Hero image'
    class='absolute inset-0 h-full w-full object-cover -z-10'
  />
  <div class='mx-auto max-w-6xl pt-40'>
    <div class='max-w-lg'>
      <h1 class='mt-10 primary tracking-tight text-gray-900 sm:text-6xl'>
        Better Data <br />Better Research
      </h1>
      <p class='mt-4 text-lg text-gray-600'>
        The Clinical Research Unit is on a mission is to simplify and demystify end-to-end
        research data processes
      </p>
      <div class='mt-10 flex items-center gap-x-6'>
        <Button
          primary
          href='https://redcap.cru.ucalgary.ca/surveys/?s=7L49EPE94D'
          target='_blank'
          rel='noopener noreferrer'
        >
          Get started today
        </Button>
        <InternalLink href='/data-capture/pricing'>See pricing →</InternalLink>
      </div>
    </div>
  </div>
  <div class='absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32'>
  </div>
</div>
