---
import SectionHeading from '../ui/SectionHeading.astro'
import Background from '../ui/Background.astro'
import InternalLink from '../ui/InternalLink.astro'
import { Picture } from 'astro:assets'
import cloudImage from '../../assets/cloud.svg'
import reportImage from '../../assets/report.svg'
import apiImage from '../../assets/api.svg'
import securityImage from '../../assets/lock.svg'
interface Props {}

const {} = Astro.props
---

<script src="https://animatedicons.co/scripts/embed-animated-icons.js"></script>

<section class="mx-auto max-w-7xl space-y-16">
  <Background type={1} />
  <div class="mx-auto max-w-2xl text-center">
    <SectionHeading
      heading="Your all-in-one research data partner"
      sup="Fast and flexible data capture"
    >
      <p>
        From data capture to data analysis and everything in between. Turn your research
        ideas into expertly crafted projects today!
      </p>
    </SectionHeading>
  </div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <dl
      class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
    >
      <div id="dataCapture" class="relative pl-16">
        <dt class="text-base leading-7 font-semibold text-gray-900">
          <div
            class="absolute top-0 left-0 flex size-12 items-center justify-center rounded-lg bg-black"
          >
            <Picture src={cloudImage} alt="electronic data capture" class="p-1" />
          </div>
          <InternalLink href="data-capture">Electronic Data Capture →</InternalLink>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          Using REDCap, the leading data capture tool in academic research, we offer a
          sophisticated and robust solution to meet your data collection needs
        </dd>
      </div>
      <div id="methodsAnalytics" class="relative pl-16">
        <dt class="text-base leading-7 font-semibold text-gray-900">
          <div
            class="absolute top-0 left-0 flex size-12 items-center justify-center rounded-lg bg-black"
          >
            <Picture src={reportImage} alt="methods & analytics" class="p-1" />
          </div>
          <InternalLink href="/methods-and-analytics">Methods & Analytics →</InternalLink>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          Tackle the complexity of data with ease. Our team of experienced
          biostatisticians and data scientists can support study setups, randomization,
          data linkage, and much more.
        </dd>
      </div>
      <div id="customSoftware" class="relative pl-16">
        <dt class="text-base leading-7 font-semibold text-gray-900">
          <div
            class="absolute top-0 left-0 flex size-12 items-center justify-center rounded-lg bg-black"
          >
            <Picture src={apiImage} alt="custom software development" class="p-1" />
          </div>
          <InternalLink href="/custom-software">Custom Software →</InternalLink>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          Unleash the power of your imagination and let our software development team
          create tailor-made solutions to match your unique project needs. We can
          transform your vision into a functional and user-friendly platform that
          simplifies your research processes.
        </dd>
      </div>
      <div id="advancedSecurity" class="relative pl-16">
        <dt class="text-base leading-7 font-semibold text-gray-900">
          <div
            class="absolute top-0 left-0 flex size-12 items-center justify-center rounded-lg bg-black"
          >
            <Picture src={securityImage} alt="data security" class="p-1" />
          </div>
          <InternalLink href="/data-capture/data-security-and-lifecycle">
            Advanced Security →
          </InternalLink>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          All data is secured using the latest industry standards. We meet or exceed
          regulatory requirements for sensitive data capture and storage.
        </dd>
      </div>
    </dl>
  </div>
</section>
