---
import SectionHeading from '../ui/SectionHeading.astro'
import Background from '../ui/Background.astro'
import InternalLink from '../ui/InternalLink.astro'
interface Props {}

const {} = Astro.props
---

<section class='mx-auto max-w-7xl space-y-16'>
  <Background type={1} />
  <div class='mx-auto max-w-2xl lg:text-center'>
    <SectionHeading
      heading='Your all-in-one research data partner'
      sup='Faster data capture'
    >
      <p>
        From data capture to data analysis and everything in between. We can help you go
        from idea to active participant engagement, allowing you to take your research to
        the next level.
      </p>
    </SectionHeading>
  </div>
  <div class='mx-auto max-w-2xl lg:max-w-4xl'>
    <dl
      class='grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16'
    >
      <div id='dataCapture' class='relative pl-16'>
        <dt class='text-base font-semibold leading-7 text-gray-900'>
          <div
            class='absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black'
          >
            <figure id='lottieCloudIcon'></figure>
          </div>
          <InternalLink href='data-capture'>Electronic Data Capture</InternalLink>
        </dt>
        <dd class='mt-2 text-base leading-7 text-gray-600'>
          Using REDCap, the leading data capture tool for research, we offer a
          sophisticated and robust solution for collecting the data you need.
        </dd>
      </div>
      <div id='methodsAnalytics' class='relative pl-16'>
        <dt class='text-base font-semibold leading-7 text-gray-900'>
          <div
            class='absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black'
          >
            <figure id='lottieReportIcon'></figure>
          </div>
          <InternalLink href='/methods-and-analytics'>Methods & Analytics</InternalLink>
        </dt>
        <dd class='mt-2 text-base leading-7 text-gray-600'>
          Tackle the complexity of data with ease. Our team of experienced
          biostatisticians and data scientists can support study setups, randomization,
          data linkage, and much more.
        </dd>
      </div>
      <div id='customSoftware' class='relative pl-16'>
        <dt class='text-base font-semibold leading-7 text-gray-900'>
          <div
            class='absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black'
          >
            <figure id='lottieApiIcon'></figure>
          </div>
          <InternalLink href='/custom-software'>Custom Software</InternalLink>
        </dt>
        <dd class='mt-2 text-base leading-7 text-gray-600'>
          Unleash the power of your imagination and let our software development team
          create tailor-made solutions to match your unique project needs. We can
          transform your vision into a functional and user-friendly platform that
          simplifies your research processes.
        </dd>
      </div>
      <div id='advancedSecurity' class='relative pl-16'>
        <dt class='text-base font-semibold leading-7 text-gray-900'>
          <div
            class='absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black'
          >
            <figure id='lottieSecurityIcon'></figure>
          </div>
          <InternalLink href='/data-capture/data-security-and-lifecycle'>
            Advanced Security
          </InternalLink>
        </dt>
        <dd class='mt-2 text-base leading-7 text-gray-600'>
          All data is secured using the latest industry standards. We meet or exceed
          regulatory requirements for sensitive data capture and storage.
        </dd>
      </div>
    </dl>
  </div>
  <script>
    import lottie from 'lottie-web'

    const lottieCloudIcon = document.getElementById('lottieCloudIcon')
    const lottieReportIcon = document.getElementById('lottieReportIcon')
    const lottieApiIcon = document.getElementById('lottieApiIcon')
    const lottieSecurityIcon = document.getElementById('lottieSecurityIcon')

    if (lottieCloudIcon) {
      lottie.loadAnimation({
        name: 'dataCapture',
        container: lottieCloudIcon,
        renderer: 'svg',
        loop: true,
        autoplay: false,
        path: 'lottie-cloud.json',
      })

      const dc = document.getElementById('dataCapture')
      dc?.addEventListener('mouseover', () => lottie.play('dataCapture'))
      dc?.addEventListener('mouseout', () => lottie.stop('dataCapture'))
    }
    if (lottieReportIcon) {
      lottie.loadAnimation({
        name: 'methodsAnalytics',
        container: lottieReportIcon,
        renderer: 'svg',
        loop: true,
        autoplay: false,
        path: 'lottie-report.json',
      })

      const ma = document.getElementById('methodsAnalytics')
      ma?.addEventListener('mouseover', () => lottie.play('methodsAnalytics'))
      ma?.addEventListener('mouseout', () => lottie.stop('methodsAnalytics'))
    }
    if (lottieApiIcon) {
      lottie.loadAnimation({
        name: 'customSoftware',
        container: lottieApiIcon,
        renderer: 'svg',
        loop: true,
        autoplay: false,
        path: 'lottie-api.json',
      })

      const cs = document.getElementById('customSoftware')
      cs?.addEventListener('mouseover', () => lottie.play('customSoftware'))
      cs?.addEventListener('mouseout', () => lottie.stop('customSoftware'))
    }
    if (lottieSecurityIcon) {
      lottie.loadAnimation({
        name: 'advancedSecurity',
        container: lottieSecurityIcon,
        renderer: 'svg',
        loop: true,
        autoplay: false,
        path: 'lottie-security.json',
      })

      const as = document.getElementById('advancedSecurity')
      as?.addEventListener('mouseover', () => lottie.play('advancedSecurity'))
      as?.addEventListener('mouseout', () => lottie.stop('advancedSecurity'))
    }
  </script>
</section>
