---
import Checkbox from '../../ui/Checkbox.astro'
import InputText from '../../ui/InputText.astro'
---

<!-- Principal Investigator Information -->
<fieldset class="space-y-4 rounded border border-gray-100 p-3">
  <legend class="px-2 text-lg font-semibold text-gray-900"
    >Principal Investigator Information</legend
  >

  <div>
    <Checkbox
      name="proj_requester_is_pi"
      value="1"
      label="I am the principal investigator"
    />
  </div>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-3" id="pi_fields">
    <InputText id="proj_pi_fname" name="proj_pi_fname" label="PI First Name" />
    <InputText id="proj_pi_lname" name="proj_pi_lname" label="PI Last Name" />
    <InputText id="proj_pi_email" name="proj_pi_email" label="PI Email" type="email" />
  </div>
</fieldset>
