---
import Layout from '../layouts/Layout.astro'
---

<script>
  import '@lottiefiles/dotlottie-wc'
</script>

<Layout title="404 Not Found">
  <div class="mx-auto max-w-2xl text-center">
    <dotlottie-wc
      src="/assets/lottie/404.lottie"
      autoplay="true"
      loop="true"
      class="size-156"></dotlottie-wc>
  </div>
</Layout>
