---
import InternalLink from '../components/ui/InternalLink.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='CRU - Data Capture'>
  <div class='space-y-12'>
    <h1>Electronic data capture</h1>
    <p class='text-lg leading-8'>
      The CRU provides access and capacity building tools in the areas of data capture,
      databases, and data management. We are the University of Calgary’s provider of <b
        >REDCap access</b
      > and value-add services, including database builds, setup and configuration, and
      implementation of advanced features.
    </p>
    <p>
      Our validated REDCap instance ensures compliance with the highest regulatory
      requirements, including Health Canada, FDA, and CFR part 11 studies. Our EDC
      developers build and configure projects to maximize the platform's capabilities.
    </p>
    <div class='space-y-6'>
      <h2>Project support</h2>
      <ol>
        <li>
          <b>Self-service projects:</b> Research teams experienced in REDCap can complete
          the build and setup themselves. The CRU provides users with access to REDCap and
          maintains the REDCap platform, such as updates/patches, data backups, and system
          administration.
        </li>
        <li>
          <b>CRU supported projects:</b> We have specialized expertise in REDCap database
          development and are happy to complete an end-to-end project build for research
          studies. This is ideal for research teams who are new to REDCap, studies that
          need advanced or complex features, or who want a convenient full service option.
        </li>
      </ol>
      <p>
        Large research groups or institutes can enter into a partnership model with the
        CRU for more cost-effective and holistic support services.
      </p>
    </div>
    <div class='text-center'>
      <InternalLink href='/data-capture/pricing' className='text-2xl'>
        See pricing →
      </InternalLink>
    </div>
  </div>
</Layout>
