---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/landing/Hero.astro'
import Partners from '../components/landing/Partners.astro'
import Services from '../components/landing/Services.astro'
import Testimonial from '../components/landing/Testimonial.astro'
import Pricing from '../components/landing/Pricing.astro'
import FAQ from '../components/landing/Faq.astro'
---

<BaseLayout title='Clinical Research Unit'>
  <div class='space-y-32'>
    <!-- Hero section -->
    <Hero />
    <!-- Logo cloud -->
    <Partners />
    <!-- Feature section -->
    <Services />
    <!-- Testimonial section -->
    <Testimonial />
    <!-- Pricing section -->
    <Pricing />
    <!-- FAQs -->
    <FAQ />
  </div>
</BaseLayout>
