---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/landing/Hero.astro'
import Partners from '../components/landing/Partners.astro'
import Services from '../components/landing/Services.astro'
// import Testimonial from '../components/landing/Testimonial.astro'
import EDCPricing from '../components/landing/EDCPricing.astro'
import FAQ from '../components/landing/Faq.astro'
import WorkWithUs from '../components/landing/WorkWithUs.astro'
---

<BaseLayout title="Centre for Health Informatics">
  <div class="space-y-40">
    <Hero />
    <Partners />
    <Services />
    <!-- <Testimonial /> -->
    <EDCPricing />
    <WorkWithUs />
    <FAQ />
  </div>
</BaseLayout>
