---
import Layout from '../layouts/Layout.astro'
import IntakeForm from '../modules/intake/IntakeForm'
---

<Layout title="Intake">
  <div class="space-y-32">
    <div class="space-y-12">
      <h1>Intake Form</h1>
      <IntakeForm client:idle />
    </div>
  </div>
</Layout>
