---
import Layout from '../layouts/Layout.astro'
import IntakeForm from '../components/intake/IntakeForm.astro'
---

<Layout title="Intake">
  <div class="space-y-32">
    <div class="space-y-12">
      <h1>Intake Form</h1>
    </div>
    <section class="space-y-12">
      <IntakeForm />
    </section>
  </div>
</Layout>
