---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Methods & Analytics">
  <div class="space-y-32">
    <div class="space-y-12">
      <h1>Methods & Analytics</h1>
      <p class="text-lg leading-8">
        The CHI maintains an experienced in-house team of biostatisticians with expertise
        in research methods and analytics. Senior team members bring over a decade of
        experience, providing valuable guidance on study design, data management,
        statistical analysis, and research methodology. This expertise supports
        high-quality research, promotes research integrity, and fosters a collaborative
        environment.
      </p>
    </div>
    <section class="space-y-8">
      <h2>How we can help</h2>
      <p class="text-lg leading-8">
        Our M&A team offers comprehensive biostatistical support throughout every stage of
        your research project, ensuring a streamlined and effective process. At the
        outset, we assist with study setup, including the development of analysis plans,
        sample size justification, pilot analyses, and grant proposals. We are equipped to
        handle both randomized clinical trials and observational studies, including data
        linkage with administrative health records. Our data science capabilities extend
        to data cleaning, ETL processes, machine learning methods, predictive modeling,
        and data dashboarding.
      </p>
      <p>
        A significant portion of our work involves manuscript preparation, where we
        contribute statistical analysis, interpretation, and writing of the methods
        section. This support continues all the way through responding to comments and
        requested edits from reviewers. We also conduct interim analyses for clinical
        trials, providing independent third-party evaluations for Data Safety Monitoring
        Boards. Our aim is to provide the expertise and tools necessary to ensure that
        your research is both robust and actionable.
      </p>
      <div class="space-y-8 text-left">
        <section class="space-y-2">
          <div class="flex items-center space-x-4">
            <div
              aria-hidden="true"
              class="bg-brand-primary-50 flex h-10 w-10 items-center justify-center rounded-full dark:bg-gray-700"
            >
              <span class="text-brand-primary-600 dark:text-brand-primary-300 font-bold"
                >1</span
              >
            </div>
            <h4>Study Setup</h4>
          </div>
          <p>During the design and build phase of your study, we can aid you with:</p>
          <ul>
            <li>Study Size and Power Calculations</li>
            <li>Generating a Statistical Analysis Plan</li>
            <li>Consulting on Grants and Applications</li>
            <li>
              Randomization, including adaptive randomization strategies such as the
              ‘Minimum Sufficient Balance’ method
            </li>
          </ul>
        </section>
        <section class="space-y-2">
          <div class="flex items-center space-x-4">
            <div
              aria-hidden="true"
              class="bg-brand-primary-50 flex h-10 w-10 items-center justify-center rounded-full dark:bg-gray-700"
            >
              <span class="text-brand-primary-600 dark:text-brand-primary-300 font-bold"
                >2</span
              >
            </div>
            <h4>Data Work</h4>
          </div>
          <p>
            You've collected thousands of data points, now what? Let us help you with:
          </p>
          <ul>
            <li>
              Statistical analysis, including methods like:
              <ul class="list-[circle]">
                <li>Descriptive analyses</li>
                <li>Multivariable modelling</li>
                <li>Longitudinal modelling</li>
                <li>Propensity-matched case-control analyses</li>
                <li>Interrupted time series analysis</li>
                <li>And anything in-between</li>
              </ul>
            </li>
            <li>Interim analysis for your clinical trial</li>
            <li>Data export/cleaning scripts, Export Transform Load (ETL)</li>
            <li>Machine learning predictive analysis</li>
            <li>Methods section publication support</li>
            <li>Cohort extraction and linkage of administrative health data</li>
            <li>Data dashboarding and visualization</li>
          </ul>
        </section>
      </div>
    </section>
  </div>
</Layout>
