---
import Layout from '../layouts/Layout.astro'
---

<Layout title='CRU - Methods & Analytics'>
  <div class='space-y-32'>
    <div class='space-y-12'>
      <h1>Methods & Analytics</h1>
      <p class='text-lg leading-8'>
        The CRU maintains an in-house team of biostatisticians who are experts in research
        methods and analytics.
      </p>
    </div>
    <section class='space-y-8'>
      <h2>How we can help</h2>
      <p class='text-lg leading-8'>
        Our M&A team can provide support at every stage of your research project. Whether
        you're looking to ensure your study is optimally set up from the get-go, or you
        need support with consuming and interpreting your data after collection, we're
        here to help.
      </p>
      <div class='space-y-8 text-left'>
        <section class='space-y-2'>
          <div class='flex items-center space-x-4'>
            <div
              aria-hidden='true'
              class='flex h-10 w-10 items-center justify-center rounded-full bg-brand-primary-50 dark:bg-gray-700'
            >
              <span class='font-bold text-brand-primary-600 dark:text-brand-primary-300'
                >1</span
              >
            </div>
            <h4>Study Setup</h4>
          </div>
          <p>During the design and build phase of your study, we can aid you with:</p>
          <ul>
            <li>Sample size and power calculations</li>
            <li>Consulting on grants and applications</li>
            <li>Randomization</li>
          </ul>
        </section>
        <section class='space-y-2'>
          <div class='flex items-center space-x-4'>
            <div
              aria-hidden='true'
              class='flex h-10 w-10 items-center justify-center rounded-full bg-brand-primary-50 dark:bg-gray-700'
            >
              <span class='font-bold text-brand-primary-600 dark:text-brand-primary-300'
                >2</span
              >
            </div>
            <h4>Data Work</h4>
          </div>
          <p>
            You've collected thousands of data points, now what? Let us help you with:
          </p>
          <ul>
            <li>Cohort extraction</li>
            <li>Iterative exploration</li>
            <li>Analytics</li>
            <li>Data cleaning</li>
            <li>Publication support</li>
          </ul>
        </section>
      </div>
    </section>
  </div>
</Layout>
