---
import { Picture } from 'astro:assets'
import chairPortrait from '../assets/people/chair.jpg'
import directorPortrait from '../assets/people/director.jpg'
import technicalPortrait from '../assets/people/technical-solutions.jpg'
import Layout from '../layouts/Layout.astro'
import ExternalLink from '../components/ui/ExternalLink.astro'
---

<Layout title='CRU - Our Story'>
  <h1 class='text-center'>Our story</h1>
  <div class='mt-32 space-y-32 mx-auto text-center'>
    <div class='space-y-12'>
      <p>
        something about how/why the cru was created in the first place? what gap did we
        fill?
      </p><br /><br />
      <b>
        With over 14 years of experience supporting a plethora of study types, we have the
        expertise to provide data management guidance every step of the way.
      </b>
      <div class='grid grid-cols-2 gap-16 text-left'>
        <section>
          <h4>Unique mix of services</h4>
          <p>
            We offer a comprehensive suite of services to address all your research data
            needs.
          </p>
        </section>
        <section>
          <h4>Value for research budgets</h4>
          <p>
            As a cost recovery unit, we offer competitive rates, particularly for custom
            services.
          </p>
        </section>
        <section class='col-span-2 w-3/4'>
          <h4>Integration with U of C research ecosystem</h4>
          <p>
            We are integrated with the University of Calgary's research ecosystem,
            providing you with peace of mind. We facilitate data transfers to Research
            Computing Services (RCS), collaborate with Research Ethics for project-level
            validation, and ensure compliance with university policies.
          </p>
        </section>
      </div>
    </div>

    <div class='space-y-16'>
      <h2>Meet our leadership</h2>
      <div class='grid gap-28 py-20 md:grid-cols-3 md:gap-12'>
        <div class='group space-y-8 border-t-4 border-gray-100'>
          <div class='mx-auto -mt-16 h-32 w-32 rotate-45 overflow-hidden rounded-[2rem]'>
            <Picture
              src={chairPortrait}
              formats={['avif', 'webp']}
              height={500}
              alt='chair-portrait'
              class='mx-auto h-full w-full -rotate-45 scale-125 object-cover transition duration-300 group-hover:scale-[1.4]'
            />
          </div>
          <div class='space-y-4 text-center'>
            <div>
              <h4 class='text-2xl text-gray-700'>Dr. Sam Wiebe</h4>
              <span class='block text-sm text-gray-500'>Chair</span>
            </div>
            <ExternalLink href='#' className='text-xs'>Get in touch</ExternalLink>
          </div>
        </div>

        <div class='group space-y-8 border-t-4 border-gray-100'>
          <div class='mx-auto -mt-16 h-32 w-32 rotate-45 overflow-hidden rounded-[2rem]'>
            <Picture
              src={directorPortrait}
              formats={['avif', 'webp']}
              height={500}
              alt='director-portrait'
              class='mx-auto h-full w-full -rotate-45 scale-125 object-cover transition duration-300 group-hover:scale-[1.4]'
            />
          </div>
          <div class='space-y-4 text-center'>
            <div>
              <h4 class='text-2xl text-gray-700'>Tracy Wang</h4>
              <span class='block text-sm text-gray-500'
                >Director of Strategy and Operations</span
              >
            </div>
            <ExternalLink href='#' className='text-xs'>Get in touch</ExternalLink>
          </div>
        </div>

        <div class='group space-y-8 border-t-4 border-gray-100'>
          <div class='mx-auto -mt-16 h-32 w-32 rotate-45 overflow-hidden rounded-[2rem]'>
            <Picture
              src={technicalPortrait}
              formats={['avif', 'webp']}
              height={500}
              alt='technical-lead-portrait'
              class='mx-auto h-full w-full -rotate-45 scale-125 object-cover transition duration-300 group-hover:scale-[1.4]'
            />
          </div>
          <div class='space-y-4 text-center'>
            <div>
              <h4 class='text-2xl text-gray-700'>Lennard Kuijten</h4>
              <span class='block text-sm text-gray-500'
                >Technical Solutions and Innovation</span
              >
            </div>
            <ExternalLink href='#' className='text-xs'>Get in touch</ExternalLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
