---
import { Picture } from 'astro:assets'
import directorPortrait from '../assets/people/director.jpg'
import technicalPortrait from '../assets/people/technical-solutions.jpg'
import Layout from '../layouts/Layout.astro'
import ExternalLink from '../components/ui/ExternalLink.astro'
---

<Layout title='Our Story'>
  <div class='space-y-32 mx-auto'>
    <div class='space-y-12'>
      <h1>Our Story</h1>
      <p class='text-lg leading-8'>
        The Clinical Research Unit at the University of Calgary has a rich history rooted
        in its origins at the Hotchkiss Brain Institute (HBI) and later becoming a key
        part of the Cumming School of Medicine. With over 18 years of experience
        supporting a plethora of study types, we have the expertise to provide data
        management guidance every step of the way.
      </p>
      <section class='space-y-8'>
        <div>
          <span class='text-brand-primary-500 text-sm'> 2006 </span>
          <h4>Origins at the Hotchkiss Brain Institute</h4>
        </div>
        <ul>
          <li>
            <b>Founding and Purpose:</b> The Clinical Research Unit was originally established
            as part of the Hotchkiss Brain Institute (HBI) at the University of Calgary. HBI,
            founded in the early 2000's, focused on advancing neurological and mental health
            research. The CRU was designed to support clinical research by providing infrastructure,
            expertise, and services to researchers in the field of neuroscience.
          </li>
          <li>
            <b>Role in Neuroscience Research:</b> At HBI, the CRU played a pivotal role in
            facilitating clinical trials, observational studies, and other research initiatives
            aimed at understanding and treating neurological conditions. It provided essential
            services such as study design, data management, and regulatory support, helping
            to bridge the gap between laboratory research and clinical application.
          </li>
        </ul>

        <div>
          <span class='text-brand-primary-500 text-sm'> 2014</span>
          <h4>Transition to the Cumming School of Medicine</h4>
        </div>
        <ul>
          <li>
            <b>Expansion and Integration:</b> As the scope of clinical research at the University
            of Calgary expanded beyond neuroscience, the CRU transitioned from being a part
            of the HBI to becoming a broader entity within the Cumming School of Medicine.
            This move reflected the growing need for clinical research support across various
            medical disciplines.
          </li>
          <li>
            <b>Broadened Focus:</b> Under the Cumming School of Medicine, the CRU expanded
            its services to support a wider range of medical research areas, including cardiology,
            oncology, and infectious diseases, among others. The unit continued to offer its
            expertise in clinical trial management, regulatory affairs, biostatistics, and
            research ethics, contributing to the university's overall research output.
          </li>
        </ul>

        <div>
          <span class='text-brand-primary-500 text-sm'> Today </span>
          <h4>Current role</h4>
        </div>

        <p>
          Today, the CRU is a central resource for clinical researchers at the University
          of Calgary. It collaborates with various departments and institutes within the
          Cumming School of Medicine to advance medical research and improve patient care.
          The unit continues to evolve, adapting to new challenges and opportunities in
          the rapidly changing field of clinical research.
        </p>
      </section>
    </div>

    <section class='space-y-8'>
      <h2>Why work with us?</h2>
      <div class='space-y-8 text-left'>
        <section class='space-y-2'>
          <div class='flex items-center space-x-4'>
            <div
              aria-hidden='true'
              class='flex h-10 w-10 items-center justify-center rounded-full bg-brand-primary-50 dark:bg-gray-700'
            >
              <span class='font-bold text-brand-primary-600 dark:text-brand-primary-300'
                >1</span
              >
            </div>
            <h4>Unique mix of services</h4>
          </div>
          <p>
            We offer a comprehensive suite of services designed to address all your
            research data needs. From data collection and analysis to visualization and
            reporting, our team of experts is equipped to provide end-to-end solutions.
            Whether you require assistance with data management, statistical analysis, or
            custom research projects, we are committed to delivering high-quality,
            reliable, and efficient services tailored to your specific requirements.
          </p>
        </section>
        <section class='space-y-2'>
          <div class='flex items-center space-x-4'>
            <div
              aria-hidden='true'
              class='flex h-10 w-10 items-center justify-center rounded-full bg-brand-primary-50 dark:bg-gray-700'
            >
              <span class='font-bold text-brand-primary-600 dark:text-brand-primary-300'
                >2</span
              >
            </div>
            <h4>Value for research budgets</h4>
          </div>
          <p>
            As a cost recovery unit, we are committed to providing exceptional value
            through our competitive rates. Our pricing is especially advantageous for
            custom services, ensuring that our clients receive tailored solutions without
            compromising on cost-effectiveness. We strive to meet the unique needs of each
            project, delivering high-quality results while maintaining affordability.
          </p>
        </section>
        <section class='space-y-2'>
          <div class='flex items-center space-x-4'>
            <div
              aria-hidden='true'
              class='flex h-10 w-10 items-center justify-center rounded-full bg-brand-primary-50 dark:bg-gray-700'
            >
              <span class='font-bold text-brand-primary-600 dark:text-brand-primary-300'
                >3</span
              >
            </div>
            <h4>Integration with U of C research ecosystem</h4>
          </div>
          <p>
            We are integrated with the University of Calgary's research ecosystem,
            providing you with peace of mind. We facilitate data transfers to Research
            Computing Services (RCS), collaborate with Research Ethics for project-level
            validation, and ensure compliance with university policies.
          </p>
        </section>
      </div>
    </section>

    <section class='space-y-16 text-center'>
      <h2>Meet our leadership</h2>
      <div class='grid gap-28 py-20 md:grid-cols-2 md:gap-12'>
        <div class='group space-y-8 border-t-4 border-gray-100'>
          <div class='mx-auto -mt-16 h-32 w-32 rotate-45 overflow-hidden rounded-[2rem]'>
            <Picture
              src={directorPortrait}
              formats={['avif', 'webp']}
              height={500}
              alt='director-portrait'
              class='mx-auto h-full w-full -rotate-45 scale-125 object-cover transition duration-300 group-hover:scale-[1.4]'
            />
          </div>
          <div class='space-y-4 text-center'>
            <div>
              <h4 class='text-2xl text-gray-700'>Tyler Williamson</h4>
              <span class='block text-sm text-gray-500'>Director</span>
            </div>
            <ExternalLink href='mailto:tyler.williamson@ucalgary.ca' className='text-xs'>
              Get in touch
            </ExternalLink>
          </div>
        </div>

        <div class='group space-y-8 border-t-4 border-gray-100'>
          <div class='mx-auto -mt-16 h-32 w-32 rotate-45 overflow-hidden rounded-[2rem]'>
            <Picture
              src={technicalPortrait}
              formats={['avif', 'webp']}
              height={500}
              alt='technical-lead-portrait'
              class='mx-auto h-full w-full -rotate-45 scale-125 object-cover transition duration-300 group-hover:scale-[1.4]'
            />
          </div>
          <div class='space-y-4 text-center'>
            <div>
              <h4 class='text-2xl text-gray-700'>Lennard Kuijten</h4>
              <span class='block text-sm text-gray-500'
                >Technical Solutions and Innovation</span
              >
            </div>
            <ExternalLink href='mailto:lennard.kuijten@ucalgary.ca' className='text-xs'>
              Get in touch
            </ExternalLink>
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
