---
import { Picture } from 'astro:assets'
import Button from './ui/Button.astro'
import SectionHeading from './ui/SectionHeading.astro'
import ctaImage from '../assets/cta.jpg'

interface Props {}

const {} = Astro.props
---

<div class='mx-auto max-w-7xl sm:px-6 lg:px-8'>
  <div
    class='relative overflow-hidden px-6 py-20 shadow-xl sm:rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20'
  >
    <Picture
      src={ctaImage}
      formats={['avif', 'webp']}
      width={1600}
      alt='CTA image'
      class='absolute inset-0 h-full w-full object-cover'
    />
    <div class='absolute inset-0 bg-gradient-to-r from-gray-900/90'></div>
    <div class='relative text-white text-left'>
      <div class='max-w-xl'>
        <SectionHeading heading='Supercharge your research'>
          <p class='text-white'>
            Incididunt sint fugiat pariatur cupidatat consectetur sit cillum anim id
            veniam aliqua proident excepteur commodo do ea.
          </p>
        </SectionHeading>
        <div class='mt-10'>
          <Button
            text='Get started today'
            type='primary'
            href='#'
            className='bg-brand-500'
          />
        </div>
      </div>
    </div>
  </div>
</div>
