---
import { Picture } from 'astro:assets'
import uofcLogo from '../assets/partners/uofc.png'
import chiLogo from '../assets/partners/chi.png'
import ctaImage from '../assets/cta.svg'
import Button from './ui/Button.astro'
import ExternalLink from './ui/ExternalLink.astro'
import InternalLink from './ui/InternalLink.astro'

interface Props {}

const {} = Astro.props
---

<footer class="relative">
  <div class="mx-auto absolute inset-0 -top-40 max-w-4xl sm:px-6 lg:px-8 h-fit">
    <div class="relative overflow-hidden p-10 sm:shadow-2xl sm:rounded-3xl">
      <div class="absolute inset-0 bg-linear-to-br from-black to-gray-900/80"></div>
      <Picture
        src={ctaImage}
        alt="CTA image"
        class="absolute inset-0 h-full w-full object-cover"
      />
      <div class="relative text-white text-left">
        <div class="max-w-xl space-y-8">
          <h2>Supercharge your research</h2>
          <p class="text-white">The data platform for research teams</p>
          <div class="mt-10 flex items-center gap-x-6">
            <Button
              primary
              href="https://redcap.ucalgary.ca/surveys/?s=7L49EPE94D"
              target="_blank"
              rel="noopener noreferrer"
            >
              Get started today
            </Button>
            <InternalLink href="/announcements/ignite-grant">Grant funding →</InternalLink
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="-mb-0.5 w-full"
    viewBox="0 0 1367.743 181.155"
  >
    <path
      class="fill-current text-gray-100"
      id="wave"
      data-name="wave"
      d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z"
      transform="translate(1.743 66.155)"></path>
  </svg>

  <div class="bg-linear-to-b from-gray-100 to-transparent pt-1">
    <div class="container m-auto space-y-8 px-6 text-gray-600 md:px-12 lg:px-20">
      <div class="grid grid-cols-8 gap-6 md:gap-0">
        <div class="col-span-8 border-r mt-16 border-gray-100 md:mt-0 lg:col-span-2">
          <div
            class="flex items-center justify-between gap-6 border-b border-white py-6 md:block md:space-y-6 md:border-none md:py-0"
          >
            <div class="flex flex-col space-y-4">
              <Picture
                src={uofcLogo}
                formats={['avif', 'webp']}
                height={150}
                alt="uofc-logo"
                class="w-40 h-auto"
              />
              <Picture
                src={chiLogo}
                formats={['avif', 'webp']}
                height={150}
                alt="logo"
                class="w-28 h-auto"
              />
            </div>
            <div class="flex gap-6">
              <a
                href="https://github.com/cru"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="github"
                class="hover:text-brand-primary-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                  ></path>
                </svg>
              </a>
              <a
                href="https://www.instagram.com/ucalgarychi/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="instagram"
                class="hover:text-brand-primary-600"
              >
                <svg
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="instagram"
                  width="20"
                  height="20"
                  fill="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M512 306.9c-113.5 0-205.1 91.6-205.1 205.1S398.5 717.1 512 717.1 717.1 625.5 717.1 512 625.5 306.9 512 306.9zm0 338.4c-73.4 0-133.3-59.9-133.3-133.3S438.6 378.7 512 378.7 645.3 438.6 645.3 512 585.4 645.3 512 645.3zm213.5-394.6c-26.5 0-47.9 21.4-47.9 47.9s21.4 47.9 47.9 47.9 47.9-21.3 47.9-47.9a47.84 47.84 0 00-47.9-47.9zM911.8 512c0-55.2.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165zm-88 235.8c-7.3 18.2-16.1 31.8-30.2 45.8-14.1 14.1-27.6 22.9-45.8 30.2C695.2 844.7 570.3 840 512 840c-58.3 0-183.3 4.7-235.9-16.1-18.2-7.3-31.8-16.1-45.8-30.2-14.1-14.1-22.9-27.6-30.2-45.8C179.3 695.2 184 570.3 184 512c0-58.3-4.7-183.3 16.1-235.9 7.3-18.2 16.1-31.8 30.2-45.8s27.6-22.9 45.8-30.2C328.7 179.3 453.7 184 512 184s183.3-4.7 235.9 16.1c18.2 7.3 31.8 16.1 45.8 30.2 14.1 14.1 22.9 27.6 30.2 45.8C844.7 328.7 840 453.7 840 512c0 58.3 4.7 183.2-16.2 235.8z"
                  ></path></svg
                >
              </a>
              <a
                href="https://x.com/ucalgarychi"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="twitter-x"
                class="hover:text-brand-primary-600"
              >
                <svg
                  fill-rule="evenodd"
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="x"
                  width="20"
                  height="20"
                  fill="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M921 912L601.11 445.75l.55.43L890.08 112H793.7L558.74 384 372.15 112H119.37l298.65 435.31-.04-.04L103 912h96.39L460.6 609.38 668.2 912zM333.96 184.73l448.83 654.54H706.4L257.2 184.73z"
                  ></path></svg
                >
              </a>
              <a
                href="https://www.youtube.com/channel/UCCUQaCk5Ujui-j8IjSn6ifg"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="youtube"
                class="hover:text-brand-primary-600"
              >
                <svg
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="youtube"
                  width="20"
                  height="20"
                  fill="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M960 509.2c0-2.2 0-4.7-.1-7.6-.1-8.1-.3-17.2-.5-26.9-.8-27.9-2.2-55.7-4.4-81.9-3-36.1-7.4-66.2-13.4-88.8a139.52 139.52 0 00-98.3-98.5c-28.3-7.6-83.7-12.3-161.7-15.2-37.1-1.4-76.8-2.3-116.5-2.8-13.9-.2-26.8-.3-38.4-.4h-29.4c-11.6.1-24.5.2-38.4.4-39.7.5-79.4 1.4-116.5 2.8-78 3-133.5 7.7-161.7 15.2A139.35 139.35 0 0082.4 304C76.3 326.6 72 356.7 69 392.8c-2.2 26.2-3.6 54-4.4 81.9-.3 9.7-.4 18.8-.5 26.9 0 2.9-.1 5.4-.1 7.6v5.6c0 2.2 0 4.7.1 7.6.1 8.1.3 17.2.5 26.9.8 27.9 2.2 55.7 4.4 81.9 3 36.1 7.4 66.2 13.4 88.8 12.8 47.9 50.4 85.7 98.3 98.5 28.2 7.6 83.7 12.3 161.7 15.2 37.1 1.4 76.8 2.3 116.5 2.8 13.9.2 26.8.3 38.4.4h29.4c11.6-.1 24.5-.2 38.4-.4 39.7-.5 79.4-1.4 116.5-2.8 78-3 133.5-7.7 161.7-15.2 47.9-12.8 85.5-50.5 98.3-98.5 6.1-22.6 10.4-52.7 13.4-88.8 2.2-26.2 3.6-54 4.4-81.9.3-9.7.4-18.8.5-26.9 0-2.9.1-5.4.1-7.6v-5.6zm-72 5.2c0 2.1 0 4.4-.1 7.1-.1 7.8-.3 16.4-.5 25.7-.7 26.6-2.1 53.2-4.2 77.9-2.7 32.2-6.5 58.6-11.2 76.3-6.2 23.1-24.4 41.4-47.4 47.5-21 5.6-73.9 10.1-145.8 12.8-36.4 1.4-75.6 2.3-114.7 2.8-13.7.2-26.4.3-37.8.3h-28.6l-37.8-.3c-39.1-.5-78.2-1.4-114.7-2.8-71.9-2.8-124.9-7.2-145.8-12.8-23-6.2-41.2-24.4-47.4-47.5-4.7-17.7-8.5-44.1-11.2-76.3-2.1-24.7-3.4-51.3-4.2-77.9-.3-9.3-.4-18-.5-25.7 0-2.7-.1-5.1-.1-7.1v-4.8c0-2.1 0-4.4.1-7.1.1-7.8.3-16.4.5-25.7.7-26.6 2.1-53.2 4.2-77.9 2.7-32.2 6.5-58.6 11.2-76.3 6.2-23.1 24.4-41.4 47.4-47.5 21-5.6 73.9-10.1 145.8-12.8 36.4-1.4 75.6-2.3 114.7-2.8 13.7-.2 26.4-.3 37.8-.3h28.6l37.8.3c39.1.5 78.2 1.4 114.7 2.8 71.9 2.8 124.9 7.2 145.8 12.8 23 6.2 41.2 24.4 47.4 47.5 4.7 17.7 8.5 44.1 11.2 76.3 2.1 24.7 3.4 51.3 4.2 77.9.3 9.3.4 18 .5 25.7 0 2.7.1 5.1.1 7.1v4.8zM423 646l232-135-232-133z"
                  ></path></svg
                >
              </a>
              <a
                href="https://www.linkedin.com/company/ucalgarychi"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="linkedin"
                class="hover:text-brand-primary-600"
              >
                <svg
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="linkedin"
                  width="20"
                  height="20"
                  fill="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M847.7 112H176.3c-35.5 0-64.3 28.8-64.3 64.3v671.4c0 35.5 28.8 64.3 64.3 64.3h671.4c35.5 0 64.3-28.8 64.3-64.3V176.3c0-35.5-28.8-64.3-64.3-64.3zm0 736c-447.8-.1-671.7-.2-671.7-.3.1-447.8.2-671.7.3-671.7 447.8.1 671.7.2 671.7.3-.1 447.8-.2 671.7-.3 671.7zM230.6 411.9h118.7v381.8H230.6zm59.4-52.2c37.9 0 68.8-30.8 68.8-68.8a68.8 68.8 0 10-137.6 0c-.1 38 30.7 68.8 68.8 68.8zm252.3 245.1c0-49.8 9.5-98 71.2-98 60.8 0 61.7 56.9 61.7 101.2v185.7h118.6V584.3c0-102.8-22.2-181.9-142.3-181.9-57.7 0-96.4 31.7-112.3 61.7h-1.6v-52.2H423.7v381.8h118.6V604.8z"
                  ></path></svg
                >
              </a>
            </div>
          </div>
        </div>
        <div class="col-span-8 lg:col-span-6">
          <div class="grid grid-cols-1 gap-6 pb-16 sm:grid-cols-3 md:pl-16">
            <div>
              <h6 class="text-lg font-medium text-gray-800">Resources</h6>
              <ul class="mt-4 list-inside space-y-4">
                <li>
                  <InternalLink href="/publications">Publications</InternalLink>
                </li>
                <li>
                  <InternalLink href="/docs/REDCapProjectValidation_GuidanceDocument.pdf">
                    Project Validation Guide
                  </InternalLink>
                </li>
                <li>
                  <InternalLink href="/announcements/ignite-grant">
                    Ignite Grant
                  </InternalLink>
                </li>
              </ul>
            </div>
            <div>
              <h6 class="text-lg font-medium text-gray-800">Discover</h6>
              <ul class="mt-4 list-inside space-y-4">
                <li>
                  <ExternalLink
                    href="https://researchcalgary.atlassian.net/wiki/spaces/CCTSTRED/overview"
                  >
                    REDCap Resource Centre
                  </ExternalLink>
                </li>
                <li>
                  <ExternalLink
                    href="https://researchcalgary.atlassian.net/servicedesk/customer/portal/7"
                  >
                    Service Desk
                  </ExternalLink>
                </li>
                <li>
                  <ExternalLink
                    href="https://careers.ucalgary.ca/jobs/search?utf8=%3F&q=chi&c_keywords=chi#results"
                  >
                    Careers
                  </ExternalLink>
                </li>
              </ul>
            </div>
            <div>
              <h6 class="text-lg font-medium text-gray-800">Policies</h6>
              <ul class="mt-4 list-inside space-y-4">
                <li>
                  <ExternalLink
                    href="https://www.ucalgary.ca/legal-services/university-policies-procedures/privacy-policy"
                  >
                    UofC Privacy Policy
                  </ExternalLink>
                </li>
                <li>
                  <ExternalLink
                    href="https://www.ucalgary.ca/legal-services/university-policies-procedures/acceptable-use-electronic-resources-and-information-policy"
                  >
                    Acceptable Use of Electronic Resources and Information
                  </ExternalLink>
                </li>
                <li>
                  <ExternalLink
                    href="https://www.ucalgary.ca/legal-services/university-policies-procedures/information-asset-management-policy"
                  >
                    Information Asset Management
                  </ExternalLink>
                </li>
                <li>
                  <ExternalLink
                    href="https://www.ucalgary.ca/legal-services/university-policies-procedures/health-information-management-policy"
                  >
                    Health Information Management
                  </ExternalLink>
                </li>
                <li>
                  <ExternalLink
                    href="https://www.ucalgary.ca/legal-services/university-policies-procedures/storage-inactive-clinical-research-records-policy"
                  >
                    Storage of Inactive Clinical Research Records
                  </ExternalLink>
                </li>
                <li>
                  <ExternalLink
                    href="https://www.ucalgary.ca/legal-services/access-information-privacy/operating-standards-guidelines-forms"
                  >
                    UofC Operating Standards, Guidelines & Forms
                  </ExternalLink>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex justify-between border-t border-gray-100 py-4 pb-8 md:pl-16">
            <span>&copy; University of Calgary {new Date().getFullYear()}</span>
            <span>All rights reserved</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
