---
import Background from './ui/Background.astro'
import Button from './ui/Button.astro'
import InternalLink from './ui/InternalLink.astro'
import SectionHeading from './ui/SectionHeading.astro'
---

<div class='px-6 lg:px-8 space-y-16'>
  <Background type={2} />
  <div class='mx-auto max-w-2xl text-center lg:max-w-4xl'>
    <SectionHeading
      heading='The right price for you, whoever you are'
      sup='Data Capture Pricing'
    >
      <p>
        Service plans for all project types and sizes. Don't worry, as your project grows
        you have the freedom to upgrade anytime.
      </p>
    </SectionHeading>
  </div>
  <div
    class='mx-auto grid max-w-lg grid-cols-1 items-center gap-y-6 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2'
  >
    <div class='rounded-3xl p-8 sm:p-10 relative bg-white shadow-2xl'>
      <h3 id='tier-personal' class='text-base font-semibold leading-7 text-black'>
        Basic
      </h3>
      <p class='mt-4 flex items-baseline gap-x-2'>
        <span class='text-5xl font-bold tracking-tight text-gray-900'>$350</span>
        <span class='text-base text-gray-500'>/year</span>
      </p>
      <p class='mt-6 text-base leading-7 text-gray-600'>
        For startups and small companies.
      </p>
      <div class='space-y-6'>
        <ul role='list' class='mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10'>
          <li class='flex gap-x-3'>
            <svg
              class='h-6 w-5 flex-none text-black'
              viewBox='0 0 20 20'
              fill='currentColor'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z'
                clip-rule='evenodd'></path>
            </svg>
             Standard support
          </li>
          <li class='flex gap-x-3'>
            <svg
              class='h-6 w-5 flex-none text-black'
              viewBox='0 0 20 20'
              fill='currentColor'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z'
                clip-rule='evenodd'></path>
            </svg>
             Daily backups
          </li>
          <li class='flex gap-x-3'>
            <svg
              class='h-6 w-5 flex-none text-black'
              viewBox='0 0 20 20'
              fill='currentColor'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z'
                clip-rule='evenodd'></path>
            </svg>
             System maintenance
          </li>
          <li class='flex gap-x-3'>
            <svg
              class='h-6 w-5 flex-none text-black'
              viewBox='0 0 20 20'
              fill='currentColor'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z'
                clip-rule='evenodd'></path>
            </svg>
             Regular platform updates
          </li>
          <li class='flex gap-x-3'>
            <svg
              class='h-6 w-5 flex-none text-black'
              viewBox='0 0 20 20'
              fill='currentColor'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z'
                clip-rule='evenodd'></path>
            </svg>
             Basic response times
          </li>
          <li class='flex gap-x-3'>
            <svg
              class='h-6 w-5 flex-none text-black'
              viewBox='0 0 20 20'
              fill='currentColor'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z'
                clip-rule='evenodd'></path>
            </svg>
             Optional add-ons
          </li>
        </ul>
        <Button text='Get started today' type='primary' block />
      </div>
    </div>
    <div
      class='rounded-3xl p-8 sm:p-10 relative border border-gray-100 bg-gray-50 sm:mx-8 lg:mx-0 sm:rounded-t-none lg:rounded-tr-3xl lg:rounded-bl-none'
    >
      <h3 id='tier-team' class='text-base font-semibold leading-7 text-black'>Premium</h3>
      <p class='mt-4 flex items-baseline gap-x-2'>
        <span class='text-5xl font-bold tracking-tight text-gray-900'>$1,000</span>
        <span class='text-base text-gray-500'>/year</span>
      </p>
      <p class='mt-6 text-base leading-7 text-gray-600'>
        A plan that grows with you no matter the size of your company.
      </p>
      <div class='space-y-8'>
        <ul role='list' class='mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10'>
          <li class='flex gap-x-3'>
            <svg
              class='h-6 w-5 flex-none text-black'
              viewBox='0 0 20 20'
              fill='currentColor'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z'
                clip-rule='evenodd'></path>
            </svg>
             Advanced support
          </li>
          <li class='flex gap-x-3'>
            <svg
              class='h-6 w-5 flex-none text-black'
              viewBox='0 0 20 20'
              fill='currentColor'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z'
                clip-rule='evenodd'></path>
            </svg>
             Priority response times
          </li>
          <li class='flex gap-x-3'>
            <svg
              class='h-6 w-5 flex-none text-black'
              viewBox='0 0 20 20'
              fill='currentColor'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z'
                clip-rule='evenodd'></path>
            </svg>
             Dedicated project manager
          </li>
        </ul>
        <Button text='Get started today' block />
      </div>
    </div>
  </div>
  <div class='text-center'>
    <InternalLink href='#' className='text-2xl'>Compare all plans →</InternalLink>
  </div>
</div>
