---
import { Image } from 'astro:assets'

import SectionHeading from './ui/SectionHeading.astro'
import Background from './ui/Background.astro'
import cloudIcon from '../assets/cloud.svg'
import apiIcon from '../assets/api.svg'
import securityIcon from '../assets/security.svg'
import reportIcon from '../assets/reports.svg'
interface Props {}

const {} = Astro.props
---

<div class='mx-auto max-w-7xl px-6 lg:px-8 space-y-16'>
  <Background type={1} />
  <div class='mx-auto max-w-2xl lg:text-center'>
    <SectionHeading
      heading='Everything you need to reach your participants'
      sup='Faster data capture'
    >
      <p>
        From data capture to data analysis and everything in between. We can help you go
        from idea to active participant engagement, allowing you to take your research to
        the next level.
      </p>
    </SectionHeading>
  </div>
  <div class='mx-auto max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl'>
    <dl
      class='grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16'
    >
      <div class='relative pl-16'>
        <dt class='text-base font-semibold leading-7 text-gray-900'>
          <div
            class='absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black'
          >
            <Image src={cloudIcon} alt='cloud-icon' />
          </div>
           Data Capture
        </dt>
        <dd class='mt-2 text-base leading-7 text-gray-600'>
          Using the leading data capture tool for research, we offer a sophisticated and
          robust solution for collecting the data you need.
        </dd>
      </div>
      <div class='relative pl-16'>
        <dt class='text-base font-semibold leading-7 text-gray-900'>
          <div
            class='absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black'
          >
            <Image src={reportIcon} alt='report-icon' />
          </div>
           Methods & Analytics
        </dt>
        <dd class='mt-2 text-base leading-7 text-gray-600'>
          Use our in-house expertise to analyze your data for best outcomes.
        </dd>
      </div>
      <div class='relative pl-16'>
        <dt class='text-base font-semibold leading-7 text-gray-900'>
          <div
            class='absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black'
          >
            <Image src={apiIcon} alt='api-icon' />
          </div>
           Custom Software
        </dt>
        <dd class='mt-2 text-base leading-7 text-gray-600'>
          Sometimes off-the-shelf isn't enough. We can help develop completely custom
          software solutions to meet your unique needs.
        </dd>
      </div>
      <div class='relative pl-16'>
        <dt class='text-base font-semibold leading-7 text-gray-900'>
          <div
            class='absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black'
          >
            <Image src={securityIcon} alt='security-icon' />
          </div>
           Advanced Security
        </dt>
        <dd class='mt-2 text-base leading-7 text-gray-600'>
          All data captured is secured using the latest industry standards. We meet or
          exceed regulatory requirements for sensitive data capture and storage.
        </dd>
      </div>
    </dl>
  </div>
</div>
