---
import type { MarkdownLayoutProps } from 'astro'
import BaseLayout from './BaseLayout.astro'

type Props = MarkdownLayoutProps<{
  title: string
  pubDate: Date
  tags: Array<string>
}>

const { frontmatter } = Astro.props
---

<BaseLayout title={frontmatter.title}>
  <section
    class='bg-white mt-20 mx-auto px-4 pb-24 pt-14 sm:px-6 sm:pb-32 sm:pt-16 lg:max-w-7xl lg:px-8'
  >
    <div class='pb-12'>
      <span class='text-gray-500'
        >{
          frontmatter.pubDate.toLocaleString('en-us', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })
        }</span
      >
      <h1>{frontmatter.title}</h1>
    </div>
    <article class='space-y-4'>
      <slot />
    </article>
  </section>
</BaseLayout>
