---
import type { MarkdownLayoutProps } from 'astro'
import BaseLayout from './BaseLayout.astro'

type Props = MarkdownLayoutProps<{
  title: string
  publishDate: Date
  tags: Array<string>
}>

const { frontmatter } = Astro.props
---

<BaseLayout title={frontmatter.title}>
  <section class="mx-auto my-20 space-y-12 pt-16 lg:max-w-6xl">
    <div>
      <span class="text-gray-500"
        >{
          frontmatter.publishDate.toLocaleString('en-us', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })
        }</span
      >
      <h1>{frontmatter.title}</h1>
    </div>
    <article class="space-y-4">
      <slot />
    </article>
  </section>
</BaseLayout>
