---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'input'> {
  value: string
  name: string
  label: string
  className?: string
}

const { value = '', name = '', label = '', className, ...attrs } = Astro.props
---

<label class="flex items-center">
  <input
    type="checkbox"
    name={name}
    value={value}
    {...attrs}
    class=`rounded border-gray-300 ${className}`
  />
  <span class="ml-2">{label}</span>
</label>
